<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anvarpasha.avtoqaraj_user_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.garage.specificCar.technique.TechIndicators"></activity>
        <activity android:name=".ui.profile.chosenProduct.ChosenProd" />
        <activity android:name=".ui.profile.allproducts.Allproducts" />
        <activity android:name=".ui.profile.personalInfo.ChangePass" />
        <activity android:name=".ui.profile.personalInfo.PersonaInfo" />
        <activity android:name=".ui.garage.specificCar.SpecificCar" />
        <activity android:name=".ui.garage.newmark.Newmark" />
        <activity android:name=".ui.shop.announc.innerAnnounce.InnerAnnActivity" />
        <activity android:name=".ui.shop.stores.shoplist.ShopList" />
        <activity android:name=".ui.shop.dillers.dillerViewPager.DillerInner" />
        <activity android:name=".PopBrandIns" />
        <activity android:name=".ui.home.allbrands.popBrands.PopularBrands" />
        <activity android:name=".ui.home.openStore.OpenStoreActivity" />
        <activity android:name=".ui.home.sparePart.SpareActivity" />
        <activity android:name=".ui.home.categories.interior.InteriorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>